
<div class="card" style="width:400px; margin:150px auto;">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="card-inner" style="width:180px; margin:0 auto;">
        <img src="{{recipePhoto}}" alt="Avatar" style="width:100%">
        <div class="container">
            <p class="name-client"> {{recipeName}}
                <span>{{ingredientsRecipe}}</span>
                <br>
                <span>{{preparationRecipe}}</span>
            </p>
        </div>
    </div>
</div>
